/*Definición de Variables*/
.H2 {
  font-family: 'Questrial';
  color: #565454;
  font-size: 45px;
}
body {
  background-image: url(../img/Home\ \(1\).png);
  background-repeat: no-repeat;
}
header nav h1 {
  font-family: 'Questrial';
  font-size: 40px;
  padding: 20px 25px 25px 25px;
  color: #565454;
}
header nav #logo {
  font-size: 25px;
  color: #FFB913;
  font-family: 'Questrial';
}
header nav ul {
  text-align: center;
}
header nav ul li {
  font-family: 'Questrial';
  display: inline-block;
  padding: 30px 25px 20px 25px;
  font-size: 25px;
  color: #565454;
}
header nav ul a:hover {
  color: #FFB913;
}
section main .titulo {
  margin-top: 30px;
  margin-left: 47px;
  font-family: 'Questrial';
  font-size: 90px;
  color: #565454;
  font-weight: bold;
  padding: 35px;
}
section main h2 {
  font-family: 'Questrial';
  color: #565454;
  font-size: 45px;
  padding-left: 50px;
  padding-top: 10px;
}
section main .btn1 {
  border-color: #FFB913;
  color: #565454;
  border-radius: 5px;
  border-width: 3px;
  margin-left: 70px;
  margin-top: 50px;
  padding: 10px;
}
section main .btn1:hover {
  color: white;
}
section main .btn2 {
  border-color: #38D9BC;
  color: #565454;
  border-radius: 5px;
  border-width: 3px;
  margin-left: 200px;
  margin-top: 50px;
  padding: 10px;
}
section main .btn2:hover {
  background-color: #38D9BC;
  color: white;
  border-color: white;
}
section main .card {
  height: 650px;
  margin: auto;
  border-color: #565454bb;
  -webkit-box-shadow: 10px 10px 23px 0px #4f4d4f;
  -moz-box-shadow: 10px 10px 23px 0px #4f4d4f;
  box-shadow: 10px 10px 23px 0px #4f4d4f;
}
section .Nosotros {
  background-color: #38D9BC;
}
section .Nosotros .imagen {
  padding: 50px;
  margin-top: 15px;
  height: 600px;
}
section .Nosotros h2 {
  font-family: 'Questrial';
  color: #565454;
  font-size: 45px;
  text-align: center;
  padding-top: 25px;
}
section .Nosotros p {
  text-align: center;
  font-size: 1.7rem;
  color: #565454;
  font-family: 'Questrial';
  padding: 60px;
}
section .Eventos {
  background-color: #FFB913;
}
section .Eventos h2 {
  font-family: 'Questrial';
  color: #565454;
  font-size: 45px;
  text-align: center;
  padding-top: 30px;
}
section .Eventos .card {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 50px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 390px;
}
section .Eventos .card .card-img-top {
  width: 250px;
  height: 207px;
  margin: auto;
  padding-top: 15px;
  border-radius: 50px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
section .Eventos .shadow-drop-br:hover {
  -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes shadow-drop-br {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-br {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
section .Eventos .buttom {
  margin-top: 15px;
  border-color: #38D9BC;
  background-color: #56545400;
  color: #565454;
  font-family: 'Questrial';
  border-radius: 10px;
}
section .Eventos .buttom:hover {
  background-color: #38D9BC;
  color: white;
  border-color: white;
}
